<ion-view view-title="Song Requests">
  <ion-content padding="'true'">
    <div class="spinner">
        <ion-spinner icon="bubbles" ng-show="loading"></ion-spinner>
    </div>
    <div class="list card" ng-repeat="item in song_requests" >
        <div class="item item-divider" style="color: red">
            Artist: {{item.artist}}
        </div>
        <div class="item item-text-wrap" style="color: purple">
            Title: {{item.title}}
        </div>
        <div class="item item-divider" style="color: gray">
            Genre: {{item.genre}}
        </div>
    </div>
  </ion-content>
</ion-view>