<ion-view view-title="Admin Home">
  <ion-content padding="'true'">
      <h1>Home</h1>
    <br />
    <div class="list">
        <a class="item item-icon-left" href="#/app/admin_shout_outs">
            <i class="icon ion-email"></i>
            Total Shout Outs
            <span class="badge badge-assertive">{{tot1}}</span>
        </a>
        <a class="item item-icon-left" href="#/app/admin_songRequests">
            <i class="icon ion-mic-b"></i>
            Total Song Requests
            <span class="badge badge-assertive"></span>
        </a>
    </div>
  </ion-content>
</ion-view>