<ion-view view-title="Song Requests">
  
  <ion-nav-buttons side="right">
    <button ng-click="reloadAdminHome()" class="button button-icon ion-android-home" side="right"></button>
  </ion-nav-buttons>

  <ion-content padding="'true'">
    <div class="spinner">
        <ion-spinner icon="bubbles" ng-show="loading"></ion-spinner>
    </div>

    <div class="list">
        <label class="item item-input item-select item-stable">
            <div class="input-label">Search by Genre</div>
            <select ng-model="search.genre">
                <option selected></option>
                <option>Rock</option>
                <option>RnB</option>
                <option>Charts</option>
                <option>_70_80_90</option>
            </select>
        </label>
    </div>

    <label class="item item-input item-stable">
        <span class="input-label">Search By Artist:</span>
        <input type="text" ng-model="search.artist">
    </label>
    <label class="item item-input item-stable">
        <span class="input-label">Search By Title:</span>
        <input type="text" ng-model="search.title">
    </label>
    <br />
    <ion-list show-delete="false" can-swipe="true">  
  
        <ion-item ng-repeat="item in song_requests | filter:search">                   
            <div class="item item-divider" style="background-color: #444; color: white">
                Artist: {{item.artist}}
            </div>
            <div class="item item-divider" style="color: gray">
                Title: {{item.title}}
            </div>
            <div class="item item-divider" style="color: gray">
                Genre: {{item.genre}}
            </div>
            <div class="item item-divider item-text-wrap" style="color: gray">
                Added: <br />
                {{item.inserted | date:'medium'}}
            </div>
            <ion-option-button ng-click="deleteSongRequest(item)" class="button-assertive icon ion-trash-a"></ion-option-button>
        </ion-item>     
    </ion-list>
  </ion-content>
</ion-view>