<ion-view view-title="Shout Outs">
  <ion-nav-buttons side="right">
    <button ng-click="reloadAdminHome()" class="button button-icon ion-android-home" side="right"></button>
  </ion-nav-buttons>

  <ion-content padding="'true'">
    <div class="spinner">
        <ion-spinner icon="bubbles" ng-show="loading"></ion-spinner>
    </div>
    <ion-list show-delete="false" can-swipe="true">     
        <ion-item ng-repeat="item in shout_outs">                   
            <div class="item item-divider" style="background-color:#444; color: white">
                {{item.name}}<br />
                <h4 style="color: white">{{item.inserted | date:'medium'}}</h4>
            </div>
            <div class="item item-text-wrap">
                <h3>{{item.message}}</h3>
            </div>
            <ion-option-button ng-click="deleteShoutOut(item);" class="button-assertive icon ion-trash-a"></ion-option-button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>