<ion-view view-title="Bookings">
  <ion-content padding="'true'">     
      <form name="myForm" novalidate>
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Name</span>
            <input type="text" name="name" ng-model="data.name" placeholder="Enter Your Name here" required>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Mobile Number</span>
            <input type="tel" name="telephone" placeholder="Enter Phone Number" ng-model="data.telephone">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Message</span>
            <textarea type="text" name="message" rows="8" ng-model="data.message" placeholder="Booking Details..." required></textarea>
          </label>
          
          <button class="button button-balanced button-block" type="submit" ng-disabled="myForm.$invalid" ng-click="make_booking(data)">Enquire</button>
          
          <div style="text-align: center; color: red; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif">
            <p ng-show="myForm.name.$error.required">* A Name is required *</p>
            <p ng-show="myForm.message.$error.required">* A message is required *</p>
          </div>
        </div
      </form>
  </ion-content>
</ion-view>