<ion-view view-title="Home">
  <ion-content padding="'true'">
    
    <ion-slide-box auto-play ="true" does-continue="true" show-pager="true" style="border: solid" >
      <ion-slide class="swiper-slide swiper-slide-active" style="width:100px; height: 206px; "  ng-repeat="slide in slide_items" >
        <div>
          <img  ng-src="{{'img/'+ slide.p_image_id +'.jpg'}}"  ng-click="showProductInfo(slide.p_image_id)" >
        </div>   
      </ion-slide >
    </ion-slide-box>
    
    <div style="text-align: center; margin-top: 150px; border: double">
      <h3>Dj Garry Lee</h3>
      <h4>e: <a ng-click="sendEmail()">djgarrylee@gmail.com</a></h4>
      <h4>t: <a href="tel:+353860738121">0831064591</a></h4>
    </div>
  </ion-content>
</ion-view>
