<ion-view view-title="Home">
  
  <ion-nav-buttons side="right">
    <a href="#/app/user_profile" class="button button-icon ion-android-person" side="right"></a>
    <button ng-click="reloadHome()" class="button button-icon ion-android-home" side="right"></button>
  </ion-nav-buttons>
  
  <ion-content padding="'true'">    
    <ion-slide-box auto-play ="true" does-continue="true" show-pager="true">
      <ion-slide class="swiper-slide swiper-slide-active" ng-repeat="slide in slide_items" >
          <img  style="border: solid; margin-top: 12px" ng-src="{{'img/'+ slide.p_image_id +'.jpg'}}"  ng-click="showProductInfo(slide.p_image_id)" >
      </ion-slide >
    </ion-slide-box>
    
    <div style="text-align: center; margin-top: 65px; border-bottom: 8px solid gray; background-color: #444; padding: 20px;">
      <h2 style="color: white;"><span class="ion-music-note" style="margin-right: 30px"></span>Dj Garry Lee<span class="ion-music-note" style="margin-left: 30px;"></h2>
    </div>
    <div style="text-align: center; margin-top: 28px; margin-bottom: 7px; border-bottom: 10px solid gray; background-color:#444; padding: 20px;">
      <h4 style="color: white">e: <a ng-click="sendEmail()">djgarrylee@gmail.com</a></h4>
      <h4 style="color: white">t: <a href="tel:+353860738121">0831064591</a></h4>
    </div>
  </ion-content> 
</ion-view>
