<ion-view view-title="Welcome" hide-nav-bar="true" ion-side-menu-content drag-content="false">
  <ion-content padding="'true'">
    <div>
      <img style="border: solid" src="img/dj.jpg" height="auto" width="100%">
    </div>
    <h3 style="text-align: Center">Please Sign In</h3>
    <form class="list">
      <div>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="data.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="data.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="login()">Log in</button>
        </label>
      </div>

      <a href="/#/app/register" class="button button-assertive button-clear button-block ">Don't have an Account? Register here.</a>
    </form>
  </ion-content>
</ion-view>
