 
<ion-header-bar class="bar-dark">
    <h1 class="title" style="text-align: center">Menu</h1> 
</ion-header-bar>


<ion-content>
    <ion-list style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    <ion-item menu-close href="#/app/requests">
        <i class="ion-music-note"> Request A Song</i>
    </ion-item>
    <ion-item menu-close href="#/app/shout_outs">
        <i class="ion-paper-airplane"> Send a Shout Out</i>
    </ion-item>
    <ion-item menu-close href="#/app/bookings">
        <i class="ion-compose"> Bookings</i>
    </ion-item>
    </ion-list>
</ion-content>