 
<ion-header-bar class="bar-dark">
    <h1 class="title" style="text-align: center">Menu</h1> 
</ion-header-bar>


<ion-content>
    <ion-list style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    <ion-item menu-close href="#/app/requests">
        <i class="ion-music-note" style="margin-left: 15px;"><span style="margin-left: 20px">Request A Song<span></i>
    </ion-item>
    <ion-item menu-close href="#/app/shout_outs">
        <i class="ion-paper-airplane" style="margin-left: 15px;"><span style="margin-left: 20px">Send a Shout Out</span></i>
    </ion-item>
    <ion-item menu-close href="#/app/bookings">
        <i class="ion-compose" style="margin-left: 15px;"><span style="margin-left: 20px">Bookings</span></i>
    </ion-item>
    </ion-list>
</ion-content>