<ion-header-bar class="bar-dark">
    <h1 class="title" style="text-align: center">Admin Menu</h1> 
</ion-header-bar>


<ion-content>
    <ion-list style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <ion-item menu-close href="#/app/admin_shout_outs">
            <i class="ion-email"> View Shout Outs</i>
        </ion-item>
        <ion-item menu-close href="#/app/admin_songRequests">
            <i class="ion-mic-b"> View Song Requests</i>
        </ion-item>
    </ion-list>
</ion-content>