<ion-view title="Register" hide-nav-bar="true" ion-side-menu-content drag-content="false">
    <ion-content padding="'true'" >
        <div>
            <img style="border: solid" src="img/dj.jpg" height="auto" width="100%">
        </div>
        
        <form name="myForm" class="list" novalidate>
            <h3 style="margin-top: 10px">Register</h3>
            <ion-list>
                <label class="item item-input" ng-class="{ 'has-error' : myForm.email.$invalid && !myForm.email.$pristine }">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="data.email" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : myForm.username.$invalid && !myForm.username.$pristine }">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" ng-model="data.username" required> 
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : myForm.password.$invalid && !myForm.password.$pristine }">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-minlength="6" data-ng-model="data.password" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : myForm.password_confirmation.$invalid && !myForm.password_confirmation.$pristine }">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" name="password_confirmation" ng-model="data.passwordConf" required data-password-verify="data.password">
                </label>
            </ion-list>

            <button ng-click="register(data)" ng-disabled="myForm.$invalid" ng-show="!show_button" class="button button-balanced button-block ">Register</button>
            <div class="spinner">
                <ion-spinner icon="bubbles" ng-show="loading"></ion-spinner>
            </div>
            
            <!-- check password validation code: http://stackoverflow.com/questions/14012239/password-check-directive-in-angularjs#answer-14012512 -->
            <div class="errors">
                <p ng-show="myForm.email.$error.required">* An email is required *</p>
                <p ng-show="myForm.username.$error.required">* A username is required *</p>
                <p ng-show="myForm.password.$error.required">* A password is required *</p>
                <p ng-show="myForm.password.$error.minlength">* Password must be at least 6 characters *</p>
                <p ng-show="myForm.password_confirmation.$error.passwordVerify">* Passwords do not match *</p>
            </div>
        </form>
    </ion-content>
</ion-view>