<ion-view title="Register" hide-nav-bar="true" ion-side-menu-content drag-content="false">
    <ion-content padding="'true'" >
        <div>
            <img style="border: solid" src="img/dj.jpg" height="auto" width="100%">
        </div>
        <form name="myForm" class="list" novalidate>
            <h3 style="text-align: center; margin-top: 10px">Register</h3>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="data.email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" ng-model="data.username" required> 
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-minlength="6" ng-model="data.password" required>
                </label>
            </ion-list>

            <button ng-click="register(data)" ng-disabled="myForm.$invalid" ng-show="!show_button" class="button button-balanced button-block ">Register</button>
            <div class="spinner">
                <ion-spinner icon="bubbles" ng-show="loading"></ion-spinner>
            </div>
            <div style="text-align: center; color: red; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif">
                <p ng-show="myForm.email.$error.required">* An email is required *</p>
                <p ng-show="myForm.username.$error.required">* A username is required *</p>
                <p ng-show="myForm.password.$error.required">* A password is required *</p>
                <p ng-show="myForm.password.$error.minlength">* Password must be at least 6 characters *</p>
            </div>
        </form>
    </ion-content>
</ion-view>