<ion-view view-title="Requests">
  <ion-content>
    <h4 style="text-align: center">Select a Genre</h4>
    <ion-list>
        <ion-item href="#/app/rock">
         Rock
        </ion-item>
        <ion-item href="#/app/pop">
         Pop
        </ion-item>
        <ion-item href="#/app/">
         RnB
        </ion-item>
        <ion-item href="#/app/">
         Oldies
        </ion-item>
        <ion-item href="#/app/">
         Other
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
