<ion-view view-title="Requests">
  <ion-nav-buttons side="right">
    <a href="#/app/user_profile" class="button button-icon ion-android-person" side="right"></a>
    <button ng-click="reloadHome()" class="button button-icon ion-android-home" side="right"></button>
  </ion-nav-buttons>
  <ion-content padding="'true'">
    <h4 style="text-align: center">Select a Genre</h4>
    <ion-list class="item">
        <ion-item href="#/app/recent_hits">
         Chart & Recent Hits
        </ion-item>
        <ion-item href="#/app/rnb">
         RnB & Hip Hop
        </ion-item>
        <ion-item href="#/app/rock">
         Rock
        </ion-item>
        <ion-item href="#/app/70s80s90s">
         70's 80's 90's
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
