<ion-view view-title="Requests">
  <ion-content padding="'true'">
    <h4 style="text-align: center">Select a Genre</h4>
    <ion-list>
        <ion-item href="#/app/recent_hits">
         Chart & Recent Hits
        </ion-item>
        <ion-item href="#/app/rnb">
         RnB & Hip Hop
        </ion-item>
        <ion-item href="#/app/rock">
         Rock
        </ion-item>
        <ion-item href="#/app/">
         70's 80's 90's
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
