<ion-view view-title="Shout Outs">
  <ion-nav-buttons side="right">
    <a href="#/app/user_profile" class="button button-icon ion-android-person" side="right"></a>
    <button ng-click="reloadHome()" class="button button-icon ion-android-home" side="right"></button>
  </ion-nav-buttons>
  <ion-content padding="'true'">     
      
      <form name="myForm" novalidate>
        <div class="list">
          
          <label class="item item-input item-floating-label"  ng-class="{ 'has-error' : myForm.name.$invalid && !myForm.name.$pristine }">
            <span class="input-label">Name</span>
            <input type="text" name="name" ng-model="data.name" ng-maxlength="30" placeholder="Enter Your Name here" required>
          </label>
          <label class="item item-input item-floating-label"  ng-class="{ 'has-error' : myForm.message.$invalid && !myForm.message.$pristine }">
            <span class="input-label">Message</span>
            <textarea type="text" name="message" rows="8" ng-model="data.message" ng-maxlength="200" placeholder="Enter your Message Here" required></textarea>
          </label>
          
          <button class="button button-balanced button-block" ng-disabled="myForm.$invalid" ng-click="send_shout_out(data)">Send</button>
          
          <div style="text-align: center; color: red; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif">
            <p ng-show="myForm.name.$error.required">* A Name is required *</p>
            <p ng-show="myForm.message.$error.required">* A message is required *</p>
            <p ng-show="myForm.message.$error.maxlength">* Message can be no longer than 200 characters *</p>
            <p ng-show="myForm.name.$error.maxlength">* Name can be no longer than 30 characters *</p>
          </div>
        </div
      </form>
  </ion-content>
</ion-view>
