<ion-view view-title="Shout Outs">
  <ion-content padding="'true'">     
      <div class="form">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="data.name" placeholder="Enter Your Name here">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Message</span>
          <textarea type="text" rows="8" ng-model="data.message" placeholder="Enter your Message Here"></textarea>
        </label>
        <button class="button button-balanced button-block" ng-click="send_shout_out(data)">Send</button>
      </div
  </ion-content>
</ion-view>
