/* Empty. Add your own CSS if you like */
div.spinner{
  margin-top: 10px;
  text-align: center;

}

.errors {
  color: red;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}


